// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* 变量：$navbar-color,值：#3c3e4*/
$navbar-color: #3c3e42;

/* universal */
body{
	padding-top: 60px;  /* 内上边距 */
}

section{
	overflow: auto; /* 当内容溢出元素框时发生的事情 */
}
textarea{
resize: vertical;  /* 用户对元素进行调整 */
}

.jumbotron{
	text-emphasis: center;  /* 向元素的文本应用重点标记以及重点标记的前景色 */
}

/* typograhy */
h1, h2, h3, h4, h5, h6{
	line-height: 1;
}
h1{
	font-size: 3em;          /* 设置字体大小 */
	letter-spacing: -2px;    /* 设置字体边距 */
	margin-bottom: 30px;    /* 设置下外边距 */
	text-align: center;     /* 设置文本对齐方式 */
}
h2{
	font-size: 1.2em;       /* 设置字体大小 */
	letter-spacing: -1px;   /* 设置字体边距 */
	margin-bottom: 30px;    /* 设置下外边距 */
	text-align: center;     /* 设置文本对齐方式 */
	font-weight: normal;    /* 设置字体粗细默认 */
	color:#777;           /* 设置颜色 */
}
p{
	font-size: 1.1em;       /* 设置字体大小 */
	line-height: 1.7em;     /* 设置行高 */
}

/* header */
.navbar-inverse{
	background-color: $navbar-color;    /* 引用已定义好的变量 */
}
#logo{
	float: left;            /* 左浮动 */
	margin-right: 10px;     /* 设置右外边距 */
	font-size: 1.7em;       /* 设置字体大小 */
	color: #fff;          /* 颜色 */
	text-decoration: none;  /* 文本装饰效果 */
	letter-spacing: -1px;   /* 设置字体边距 */
	padding-top: 9px;       /* 内上边距 */
	font-weight: bold;      /* 字体粗细 */
	&:hover{    /* &对父选择器进行引用 */
			color: #fff;      /* 颜色 */
	}
}

/* footer */
footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
	a{
		color: #555;
		&:hover{
			color: #222;
		}
	}
	small{
		float: left;
	}
	ul{
		float: right;
		list-style: none;
	
		li{
			float: left;
			margin-left: 15px;
		}
	}
	img.brand-icon{
		width: 17px;
		height: 17px;
	
		.slogon{
			font-size: 13px;
			font-weight: bold;
		}
	}